{% extends "base.html" %}

{% block content %}
<div class="auth-card">
    <h2>Login</h2>

    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p>New user? <a href="{{ url_for('signup') }}">Create account</a></p>

    <div class="demo-box">
        <p><b>Admin:</b> admin@test.com / admin123</p>
        <p><b>Member:</b> member@test.com / member123</p>
    </div>
</div>
{% endblock %}
